PORT=8080
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
WORLD_ID_APP_ID=
WORLD_RP_ID=
WORLD_RP_SIGNING_KEY=
WORLD_ID_ENVIRONMENT=staging
WORLD_DEVELOPER_API_KEY=
SOLANA_RPC_URL=https://api.devnet.solana.com
SET_BOUNTY_WITH_FUNDER=true
SOLANA_FUNDER_SECRET_KEY=
SOLANA_VAULT_SECRET_KEY=
BYPASS_VERIFICATION_FOR_TESTING=false
